.right-bg {
  width: 50%;
  height: 100vh;
  background-color: #00d6a5;
}
.left-bg {
  width: 50%;
  height: 100vh;
  background-color: #eafffa;
}
.nav-bar {
  z-index: 9999;
  position: absolute;
  width: 100vw;
  height: 100px;
}
.logo-container {
  margin-left: 5rem;
  cursor: pointer;
}
.logo {
  width: 60px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #6a66ff;
}
.nav-links li {
  margin: 2rem;
  font-size: 1.1rem;
}
.shopping-cart-bg {
  margin: 2rem;
}
.btn-custom {
  background-color: #6a66ff;
  color: white;
  padding: 1rem 4rem;
  font-size: larger;
  font-weight: 500;
  border-radius: 100px;
}
.cart-bg {
  background-color: #6a66ff;
}

.shopping-cart-icon:hover {
  opacity: 0.7;
}
.left-hero-section {
  height: 100%;
  justify-content: end;
}

.tag-line {
  color: #515151;
  font-size: 25px;
}
.slogan-container {
  max-width: 550px;
  padding: 0 1rem;
}
.slogan-container > h1 {
  font-weight: 400;
}
.img-responsive {
  width: 600px;
  max-width: 90%;
}
@media (max-width: 1160px) {
  .links {
    display: none;
  }
  .shopping-cart {
    position: absolute;
    top: 55px;
    right: 10px;
  }
  .logo-container {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
}

@media (max-width: 768px) {
  .bg-container {
    flex-direction: column;
  }
  .right-bg,
  .left-bg {
    width: 100%;
    height: 80vh;
  }
  .slogan-container {
    margin: 0;
  }

  .left-hero-section {
    justify-content: center;
  }
  .tag-line {
    font-size: 18px;
  }
}
